DATABASE_URL=postgresql://postgres:postgres@localhost:5432/agencia_foto
REDIS_URL=redis://localhost:6379
EVOLUTION_API_URL=
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE_NAME=
GOOGLE_MAPS_API_KEY=
GROQ_API_KEY=
PORT=3001
NODE_ENV=development
